<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>gechur</title>

    <!-- Bootstrap -->
    <link
      href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cyborg/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="http://fonts.googleapis.com/css?family=Frijole"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body style="background-color: white">
    <nav
      class="navbar"
      style="
        margin-bottom: 0px;
        background-color: rgb(155, 129, 94);
        color: white;
        border-radius: 0%;
      "
    >
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar">thing</span>
            <span class="icon-bar">asdfa</span>
            <span class="icon-bar">werweqre</span>
          </button>
          {% if "username" in session %}
          <a class="navbar-brand" href="/home" style="color: white"> gechur </a>
          {% else %}
          <a class="navbar-brand" href="/" style="color: white"> gechur </a>
          {% endif %}
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            {% if "username" in session %}
            <li><a href="/create" style="color: white">Create Item</a></li>
            <li><a href="/edit" style="color: white">Edit an Item</a></li>
            <li><a href="/home" style="color: white">Home</a></li>
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if "username" in session %}
            <li><a href="/logout" style="color: white">Logout</a></li>
            {% else %}
            <li><a href="/register" style="color: white">Register</a></li>
            <li><a href="/" style="color: white">Login</a></li>
            {% endif %}
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
    <div class="container">
      <br />
      <!-- Show flashed messages -->
      {% with messages = get_flashed_messages() %} {% for message in messages %}
      <div class="alert alert-warning" role="alert">{{ message }}</div>
      {% endfor %} {% endwith %}
    </div>
    {% block content %}{% endblock %}
  </body>
</html>
