{% extends 'base.html' %} {% block content %}
<div>
  LOGIN

  <form method="POST">
    {{form.hidden_tag()}} {{form.email.label}} {{form.email()}}
    {{form.password.label}} {{form.password()}} {{form.submit()}}
  </form>
  <button href="/templates/index.html">Go back?</button>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam deleniti ad,
  quod veniam, culpa ratione consequatur aliquam odit ab quam delectus sit,
  dicta nam at sequi labore tempore animi perspiciatis? Lorem ipsum dolor sit
  amet consectetur adipisicing elit. Nesciunt modi inventore doloremque
  dignissimos aperiam error? Excepturi cumque, aperiam odit hic placeat
  quibusdam, ea dolore fugiat omnis reprehenderit laborum. Debitis, impedit.
</div>
{% endblock %}
